.section2 {
  display: flex;
  /* flex-direction: row; */
  /* padding: 3rem; */
  /* margin: 1rem; */
  /* color: white */
  /* overflow-x: hidden; */
  /* cursor: pointer; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0rem 7rem 8rem 7rem;
  /* padding: 3rem; */
  justify-content: center;
}
.section2::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.section2::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.section2::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 150px;
  align-items: center;
  justify-content: flex-end;
  min-width: 180px;
  /* min-width: 250px; */
  padding: 1.5rem;

  border-radius: 20px;
  background: rgb(243, 241, 241);
  box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.3);

  transition: 0.2s;

  margin: 10px;
  /* scroll-snap-align: start; */
  clear: both;
  cursor: pointer;
  color: #333333;

  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  /* backdrop-filter: blur(5px); */
}
.item:focus-within ~ .item,
.item:hover ~ .item {
  /* transform: translateX(130px); */
  /* /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */
  /* display: none; */
}

.item img {
  /* width: 240px; */
  /* height: 300px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item:hover {
  transform: translateY(-2rem);
}
.title {
  min-width: 200px;

  display: grid;
  place-items: center;
  background: linear-gradient(to left, #0aaafb, #03e1d2);
  min-height: 60px;
  border-radius: 20px;
  margin-bottom: -2.5rem;
}
.item h2 {
  position: relative;
  /* padding-bottom: 2rem; */
  /* padding-top: 5rem; */
  transition: 0.2s;
  display: flex;
  /* background-color: #333333; */
  /* padding: 0.5rem; */
  /* margin-bottom: -3rem; */
  border-radius: 20px;
  /* place-items: center; */
  /* justify-content: center; */
  /* align-items: center; */
  color: white;
  font-size: 30px;
  /* filter: blur(0px); */
  /* -webkit-filter: blur(0px); */
}

/* .item:hover ~ .item {
  transform: translateX(130px);
} */

/* .item:not(:first-child) {
  margin-left: -80px;
} */

/* .item:hover h2 {
  background: linear-gradient(to left, #0aaafb, #03e1d2);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* .empty-space {
  height: 600px;
} */

.modal-text {
  transition-duration: 1s;

  color: white;
  line-height: 30px;
  padding: 5rem;
  font-size: 24px;
  /* font-weight: ; */
  text-align: justify;
}
.modal-card {
  display: flex;
  /* place-items: center; */
  justify-content: flex-end;
  align-items: baseline;
  width: 1150px;
  min-width: 250px;
  min-height: 200px;
  /* background: linear-gradient(to left, #0aaafb, #03e1d2); */
  background: #0e606f9f;
  /* background: rgb(240, 171, 82); */
  padding: 2rem;
  /* margin: 5rem; */
  border-radius: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  /* color: #fff; */
  /* background: rgb(243, 241, 241); */
  /* background: linear-gradient(to left, #ab68ca, #de67a3); */
  /* box-shadow: -1rem 0 3rem #fff; */
  /* display: grid; */
  /* place-items: center; */
  transition: 0.2s;
  color: white;
  cursor: pointer;
}
.modal-container {
  display: flex;
  /* flex-direction: column; */
  margin: 0 7rem 5rem 7rem;
  /* padding: 1rem; */
  justify-content: center;
}

.modal-inside {
  width: 900px;
  min-width: 250px;
  min-height: 200px;
  /* background: linear-gradient(to left, #0df56e, #0db68c); */
  /* background: brown; */
  background: #04795ca4;
  padding: 2rem;
  /* margin: 5rem; */
  border-radius: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  /* color: #fff; */
  /* background: rgb(243, 241, 241); */
  /* background: linear-gradient(to left, #ab68ca, #de67a3); */
  /* box-shadow: -1rem 0 3rem #fff; */
  /* display: grid; */
  /* place-items: center; */
  transition: 0.2s;
  color: white;
  cursor: pointer;
}

.modal-list {
  font-size: 18px;
  margin: 2rem;
}
