.section2 {
  display: flex;
  /* flex-direction: row; */
  /* padding: 3rem; */
  /* margin: 1rem; */
  /* color: white */
  /* overflow-x: hidden; */
  /* cursor: pointer; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0rem 7rem 8rem 7rem;
  /* padding: 3rem; */
  justify-content: center;
}
.section2::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.section2::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.section2::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 150px;
  align-items: center;
  justify-content: flex-end;
  min-width: 180px;
  /* min-width: 250px; */
  padding: 1.5rem;

  border-radius: 20px;
  background: rgb(243, 241, 241);
  box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.3);

  transition: 0.2s;

  margin: 10px;
  /* scroll-snap-align: start; */
  clear: both;
  cursor: pointer;
  color: #333333;

  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  /* backdrop-filter: blur(5px); */
}
.item:focus-within ~ .item,
.item:hover ~ .item {
  /* transform: translateX(130px); */
  /* /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */
  /* display: none; */
}

.item img {
  /* width: 240px; */
  /* height: 300px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item:hover {
  transform: translateY(-2rem);
}
.title {
  min-width: 200px;

  display: grid;
  place-items: center;
  background: linear-gradient(to left, #0aaafb, #03e1d2);
  min-height: 60px;
  border-radius: 20px;
  margin-bottom: -2.5rem;
}
.item h2 {
  position: relative;
  /* padding-bottom: 2rem; */
  /* padding-top: 5rem; */
  transition: 0.2s;
  display: flex;
  /* background-color: #333333; */
  /* padding: 0.5rem; */
  /* margin-bottom: -3rem; */
  border-radius: 20px;
  /* place-items: center; */
  /* justify-content: center; */
  /* align-items: center; */
  color: white;
  font-size: 30px;
  /* filter: blur(0px); */
  /* -webkit-filter: blur(0px); */
}

/* .item:hover ~ .item {
  transform: translateX(130px);
} */

/* .item:not(:first-child) {
  margin-left: -80px;
} */

/* .item:hover h2 {
  background: linear-gradient(to left, #0aaafb, #03e1d2);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* .empty-space {
  height: 600px;
} */

.modal-text {
  transition-duration: 1s;

  color: white;
  line-height: 30px;
  padding: 5rem;
  font-size: 24px;
  /* font-weight: ; */
  text-align: justify;
}
.modal-card {
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  /* justify-content: flex-end; */
  align-items: baseline;
  width: 1150px;
  min-width: 250px;
  min-height: 200px;
  /* background: linear-gradient(to left, #0aaafb, #03e1d2); */
  background-color: #0e606f9f;
  /* background: rgb(240, 171, 82); */
  padding: 2rem;
  /* margin: 5rem; */
  border-radius: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  /* color: #fff; */
  /* background: rgb(243, 241, 241); */
  /* background: linear-gradient(to left, #ab68ca, #de67a3); */
  /* box-shadow: -1rem 0 3rem #fff; */
  /* display: grid; */
  /* place-items: center; */
  transition: background-color 0.3s ease;

  color: white;
  /* cursor: pointer; */
}
.modal-container {
  display: flex;
  /* flex-direction: column; */
  margin: 0 7rem 5rem 7rem;
  /* padding: 1rem; */
  justify-content: center;
}

.modal-inside {
  /* position: absolute; */
  /* margin-bottom: -55px; */
  margin-left: -25px;
  /* margin-right: 10px; */
  /* top: 500px; */
  /* left: 200px; */
  width: 980px;
  min-width: 250px;
  min-height: 200px;
  /* background: linear-gradient(to left, #0df56e, #0db68c); */
  /* background: brown; */
  background: #04795ca4;
  padding: 2rem;
  /* margin: 5rem; */
  border-radius: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  /* color: #fff; */
  /* background: rgb(243, 241, 241); */
  /* background: linear-gradient(to left, #ab68ca, #de67a3); */
  /* box-shadow: -1rem 0 3rem #fff; */
  /* display: grid; */
  /* place-items: center; */
  transition: 0.2s;
  color: white;
  /* cursor: pointer; */
}
.modal-bottom {
  display: flex;
  margin-left: -50px;
}
.modal-heading {
  /* position: relative; */
  margin: auto;
  /* display: flex;
  justify-content: center;
  align-items: center ; */
  /* top: 0; */
  padding: 2rem;
  letter-spacing: 5px;
  font-size: 30px;
  margin-top: -40px;
}

.modal-list {
  font-size: 18px;
  margin: 2rem;
  text-align: right;
}

.modal-list-item {
  cursor: pointer;
  /* margin-top: 10px; */
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.modal-list-item:hover,
.active-list {
  /* background: rgba(0, 0, 0, 0.055); */
  background: #0aaafb;
}

.modal-close {
  font-size: 18px;
  /* font-weight: bold; */
  position: absolute;

  top: 10px;
  left: 5px;
  cursor: pointer;
  margin: 5px 10px;
  padding: 0rem 0.15rem 0 0.5rem;
  border-radius: 10px;
  /* background: rgba(187, 65, 65, 0.555); */
  color: rgba(187, 20, 20, 0.205);
  transition: background-color 0.3s ease;
}
.modal-close:hover {
  /* color: yellow; */
  color: rgba(0, 0, 0, 0.507);
  background: rgba(0, 0, 0, 0.226);
}

.select-packages {
  margin: 0 100px 10px 100px;
  /* padding: 20px; */
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;

  padding: 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.select-packages:hover,
.active-package {
  /* background: rgba(0, 0, 0, 0.233); */
  /* background: rgba(25, 71, 4, 0.24); */
  background: #0aabfb;
}

.select-packages-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TABLE */

.material-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.material-table thead tr {
  background: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.material-table th,
.material-table td {
  padding: 12px 15px;
}

.material-table tbody tr {
  border-bottom: 1px solid #dddddd21;
  cursor: pointer;
}
.material-table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.075);
}

.material-table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
}
.material-table tbody tr:hover {
  /* font-weight: bold; */
  /* color: #009879; */
  background-color: rgba(0, 0, 0, 0.274);
}

.material-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARDS */
.container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 0 3rem; */
}
.horizontal-container::-webkit-scrollbar {
  height: 0.75rem;
}
.horizontal-container::-webkit-scrollbar-track {
  /* background: #fff; */
  border-radius: 1rem;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
.horizontal-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.075);
  border-radius: 1rem;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
.horizontal-container {
  width: 80vw;
  /* height: 73vh; */
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  /* padding: 10rem 0; */
  /* justify-content: center; */
  /* overflow: scroll; */
  /* margin-left: 300px; */
  /* padding-left: 300px; */
  overflow-x: scroll;
  overflow-y: hidden;
  /* padding: 200px; */
  /* margin-right: -100px; */
}
/* .horizontal-container::-webkit-scrollbar {
  display: none;
} */
.card {
  display: grid;
  object-fit: contain;
  /* width: 100%; */
  grid-template-columns: 300px;
  grid-template-rows: 200px 200px 70px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  /* font-family: roboto; */
  text-align: center;
  transition: 0.2s ease;
  /* cursor: pointer; */
  margin: 30px;
  color: black;
}

.card-text {
  grid-area: text;
  margin: 25px;
  padding: 100px;
}

.card-image {
  grid-area: image;
  /* background: url("https://media.istockphoto.com/photos/beautiful-luxury-home-exterior-at-twilight-picture-id1026205392?k=6&m=1026205392&s=612x612&w=0&h=pe0Pqbm7GKHl7cmEjf9Drc7Fp-JwJ6aTywsGfm5eQm4="); */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

/* .card-description {
  padding-bottom: 500px;
} */

.card-text .date {
  color: grey;
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
  padding: 1.5rem;
  /* height: 100px; */
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
  padding-top: 1rem;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: grey;
  padding-top: 0.5rem;
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}
.card-stats .type {
  font-size: 9px;
  font-weight: 300;
  text-transform: uppercase;
}
.card-stats .value {
  font-size: 16px;
  font-weight: 500;
}
/* .card-stats .border {
    border-left: 1px solid;
    border-right: 1px solid;
} */
.card-stats .value span {
  font-size: 12px;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.card-buttons {
  position: relative;
  top: 160px;
  /* right: 100px; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 0.5rem;
}
.btn {
  margin-left: 0.5rem;
}
