.aboutus-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  /* // position: relative; */
  /* // overflow: hidden; */
}

.aboutus-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  margin-bottom: 7rem;
}

.aboutus-wrapper h2 {
  color: var(--dark-color);
  font-size: 45px;
  text-align: center;
  /* // padding-bottom: 3rem; */
}
.aboutus-wrapper p {
  text-align: left;
  /* font-size: 20px; */
  font-size: clamp(1rem, 1.2vw, 2rem);
  margin-top: 3rem;
  color: var(--dark-color);
  line-height: 3rem;
  /* // padding-bottom: 5rem; */
}

@media screen and (max-width: 768px) {
  .aboutus-wrapper p {
    line-height: 1.5rem;
  }
}
