.aboutus {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.offer-header {
  /* padding: 1.5rem; */
  /* padding-left: 7rem; */
  /* margin: 1.5rem; */
  color: #333333;
  font-size: 45px;
}

.about-items {
  display: flex;
  justify-content: space-evenly;
}

.about-card {
  width: 1000px;
  min-width: 250px;
  height: 250px;
  background: linear-gradient(to left, #0aaafb, #03e1d2);
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  /* color: #fff; */
  /* background: rgb(243, 241, 241); */
  /* background: linear-gradient(to left, #ab68ca, #de67a3); */
  /* box-shadow: -1rem 0 3rem #fff; */
  display: grid;
  place-items: center;
  transition: 0.2s;

  scroll-snap-align: start;
  clear: both;
  cursor: pointer;
  color: #333333;
}

.about-card p {
  color: white;
}
.about-card h1 {
  color: white;
}

.offer-card:hover {
  transform: translateY(-1rem);
}
/* .offer-card:hover h1 {
  transform: translateY(-1rem);
  background: linear-gradient(90deg, #00ffd5, #e52ed6);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.empty-space {
  height: 250px;
}
