.section1 {
  display: flex;
  margin: 1rem;
  padding: 1rem 0;
  /* width: 100%; */
  /* justify-content: space-evenly; */
}

.sect1-intro {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  place-items: center;
  border: 1rem;
  /* width: 70%; */
  /* width: 1000px; */
  /* flex: 3; */
  /* height: 80px; */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  background: rgb(243, 241, 241);
  /* margin: 1rem; */
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  /* background: linear-gradient(to left, #ab68ca, #de67a3); */
  color: #fff;
}

.sect1-payment {
  display: grid;
  place-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  background: linear-gradient(to left, #ab68ca, #de67a3);
  width: 100px;
  color: #fff;
  height: 100px;
  border-radius: 2rem;
  /* margin: 1rem; */
  /* width: 10%; */
  flex: 0.5;
  margin-left: 2rem;
  margin-right: auto;
}
