.header-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  /* background-color: #0188cc; */
  background-color: var(--dark-color);
  z-index: 1000;
  position: fixed;
}
.header-wrapper {
  width: 100%;
  max-width: 1200px;
  color: white;
  top: 0;
  /* display: flex; */
  /* justify-content: center; */
}
.header {
  display: flex;
  /* margin: 0 10rem; */
  justify-content: space-between;
  /* width: 100%; */
  /* max-width: 1200px; */
}

.header-info {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.header-social {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header-container {
    /* display: none; */
  }
  .header-info {
    font-size: 14px;
  }
  .header-social {
    display: none;
  }
}
