.offer-section {
  display: flex;
  flex-direction: column;
}

.offer-header {
  padding: 1.5rem;
  margin: 1.5rem;
  color: #333333;
}

.offer-items {
  display: flex;
  justify-content: space-evenly;
}

.offer-card {
  width: 400px;
  min-width: 250px;
  height: 250px;
  /* background: white; */
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  /* background: rgb(243, 241, 241); */
  background: linear-gradient(to left, #ab68ca, #de67a3);
  /* box-shadow: -1rem 0 3rem #fff; */
  display: grid;
  place-items: center;
  transition: 0.2s;

  scroll-snap-align: start;
  clear: both;
  cursor: pointer;
  color: #fff;
}

.offer-card:hover {
  transform: translateY(-1rem);
}
/* .offer-card:hover h1 {
  transform: translateY(-1rem);
  background: linear-gradient(90deg, #00ffd5, #e52ed6);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
