.offer-section {
  display: flex;
  flex-direction: column;
  margin: 0 7rem 8rem 7rem;
}

.offer-header {
  color: var(--dark-color);
  font-size: 45px;
  text-align: center;
}

.offer-items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.offer-card {
  margin: 0 3rem;
  border-radius: 16px;
  transition: 0.2s;
  scroll-snap-align: start;
  clear: both;
  cursor: pointer;
  color: #fff;
}

.offer-card:hover {
  transform: translateY(-1rem);
}
