.testimonial-wrapper {
  /* display: flex; */
  /* justify-content: center; */
  /* width: 80vw; */
  /* max-width: 900px; */
}

.video-card {
  padding: 1rem;
  border-radius: 16px;
}

@media screen and (max-width: 768px) {
  .video-card iframe {
    width: 300px;
    height: 200px;
  }
}
