/* Construction  */
.construction {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* width: 80vw; */

  /* max-width: 900px; */
}

.construction-nav {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 18px;
  /* flex-basis: 130px; */
}

.construction-nav-item {
  cursor: pointer;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  /* width: 100%;? */
  color: var(--light-color);
}
.construction-nav-item:hover,
.active-list {
  background: var(--light-color);
  color: var(--dark-color);
}
.construction-content {
  background: var(--light-color);
  flex-grow: 1;
  flex-basis: 900px;
  /* flex-shrink: 0; */

  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
  color: var(--dark-color);
}

/* PACKAGES */

.select-packages {
  margin: 10px 0px 10px 0px;
  cursor: pointer;
  font-size: 20px;
  /* font-weight: 700; */
  letter-spacing: 4px;

  padding: 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-align: center;
}
.select-packages p {
  font-size: 14px;
  text-align: center;
}

.select-packages:hover,
.active-package {
  background-color: var(--color-palette-1);
  color: var(--light-color);
}

.select-packages-container {
  display: flex;
  flex-direction: row;
  /* align-items: center;  */
  justify-content: space-around;

  flex-wrap: wrap;
}

.accordian-packages {
  display: flex;
  width: 300px;

  /* margin-left: 10rem; */
  /* justify-content: center; */
  /* align-items: center; */
}
.standard-active {
  margin-left: 4rem;
  /* justify-content: flex-end; */
}
.premium-active {
  margin-left: 35rem;
  /* justify-content: flex-end; */
}

/* .each-package {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.list-box {
  /* align-items: center; */
  /* place-items: center; */
  /* margin-top: 20px; */
  /* margin-left: 100px; */
  /* /* margin-right: auto; */
}

/* TABLE */

.material-table {
  border-collapse: collapse;
  width: 100%;
  /* font-size: ; */
  margin: 5px 0;
  font-size: 0.9em;
  /* min-width: 400px; */
}

.material-table thead tr {
  background: #006d9854;
  color: #292121;
  text-align: left;
  font-weight: bold;
}
.material-table th,
.material-table td {
  padding: 1rem 1rem;
}

.material-table tbody tr {
  border-bottom: 1px solid #dddddd21;
  cursor: default;
  color: black;
}
.material-table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.075);
}

.material-table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
}
.material-table tbody tr:hover {
  /* font-weight: bold; */
  /* color: #009879; */
  /* background-color: rgba(0, 0, 0, 0.274); */
}

.material-table-container {
  /* transform: scaleX(0.8); */

  /* overflow: scroll; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  /* transform: scale(0.5); */
}

@media screen and (max-width: 768px) {
  .construction-nav {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
  }
  .material-table {
    font-size: 0.7em;
  }
  .standard-active {
    margin-left: 0rem;
    /* justify-content: flex-end; */
  }
  .premium-active {
    margin-left: 0rem;
    /* justify-content: flex-end; */
  }
}
