.footer-container {
  background-color: #383d5e;
  /* margin: 10rem 0 0 0 0; */
}

.footer-nav {
  display: flex;
  background: #383d5e;
  width: 100%;
  margin: 5rem 0rem 4rem 0rem;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.footer-headline {
  width: 300px;
  color: white;
  font-size: 50px;
  background: linear-gradient(to left, #0aaafb, #03e1d2);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-list {
  font-weight: 600;
  line-height: 30px;
  list-style: none;
  letter-spacing: 2px;
}

.footer-info {
  color: white;
  text-align: justify;
  margin: 5rem 10rem 4rem 10rem;
}
