.footer-container {
  background-color: var(--dark-color);
}

.footer-nav {
  display: flex;
  margin: 5rem 10rem 4rem 10rem;
  justify-content: space-between;
  align-items: center;
  color: var(--light-color);
}

.footer-headline {
  width: 300px;
  color: white;
  font-size: 50px;
  background: linear-gradient(to left, #0aaafb, #03e1d2);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-list-container {
  display: flex;
  /* flex-direction: row; */
  /* text-decoration: none; */
}

.footer-list {
  margin: 0 7rem;
  font-weight: 600;
  line-height: 30px;
  list-style: none;
  letter-spacing: 2px;
  text-decoration: none;
}
.footer-list li {
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 16px;
  width: 100%;
  color: var(--light-color);
  /* text-decoration: none; */
  transition: background-color 0.3s ease;
}
.footer-list li:hover {
  background-color: rgba(0, 0, 0, 0.301);
  /* padding: 0 1rem; */
}
.footer-link {
  text-decoration: none;
}

.footer-info-container {
  color: var(--light-color);
  text-align: justify;
  margin: 5rem 10rem 4rem 10rem;
}

.footer-info {
  list-style: none;
}
