.footer-nav {
  display: flex;
  /* background: grey; */
  /* margin: auto; */
  /* padding: 3rem; */
  /* padding: auto; */
  /* width: 100vw; */
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  margin-bottom: 3rem;
}

.footer-headline {
  /* box-shadow: grey; */
  width: 300px;
  margin: auto;
  color: white;
  font-size: 50px;
  margin-left: 13rem;
  /* text-align: center; */
}

.footer-list {
  padding: 1rem 10rem;
  font-weight: 600;
  line-height: 30px;
  margin: auto;
  list-style: none;
  letter-spacing: 2px;
}
