.section1 {
  display: flex;
  /* margin-top: 1rem; */
  /* padding-top: 1rem; */
  /* width: 100%; */
  margin: 0rem 7rem 5rem 7rem;
  /* padding: 1rem; */
  justify-content: space-between;
}

.sect1-intro {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  place-items: center;
  cursor: pointer;
  /* border: 1rem; */
  /* width: 70%; */
  /* width: 1000px; */
  /* flex: 3; */
  /* height: 80px; */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  background: rgb(243, 241, 241);
  /* margin: 1rem; */
  border-radius: 20px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* background: linear-gradient(to left, #ab68ca, #de67a3); */
  color: #fff;
}

.sect1-payment {
  display: grid;
  place-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  background: linear-gradient(to left, #0aaafb, #03e1d2);
  width: 200px;
  color: #fff;
  height: 100px;
  border-radius: 20px;
  /* margin: 1rem; */
  /* width: 10%; */
  flex: 0.75;
  cursor: pointer;
  /* margin-left: 2rem; */
  /* margin-right: auto; */
}
