.modal-container {
  background-color: #f1f1f156;
}

.modal-card {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  /* background-color: var(--color-palette-1); */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: background-color 0.3s ease;
  color: var(--color-palette-1);
  /* color: var(--light-color); */
  margin: 0 10rem 7rem 10rem;
}

.modal-close {
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 5px;
  cursor: pointer;
  margin: 5px 10px;
  padding: 0rem 1rem 0 0.5rem;
  border-radius: 10px;
  transition: background-color 0.1s ease;
}
.modal-close:hover {
  background: rgba(0, 0, 0, 0.226);
}

.links {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: -2.2rem;
}

.link {
  margin: 0 2rem;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--dark-color);
  font-size: 20px;
  padding: 0.1rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.link:hover {
  /* background-color: #383d5e21; */
  background-color: var(--color-palette-1);
  color: var(--light-color);
}

.selected-link {
  display: none;
}
